<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v6.7.2/css/all.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="page.css">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>yuichiro hato</title>
</head>
<body>
    <div id="app">
        <div class="custom-cursor"></div>
        <header>
            <div class="name">
                yuichiro hato
            </div>
        </header>

        <main>
            <!-- ホーム画面 -->
            <div v-if="currentPage === 'home'" class="main">
                <div v-for="project in projects" :key="project.id" class="buttons" :class="project.id"
                    @click="loadPage(project)">
                    <img :src="project.logo">
                    <div class="button-description">
                        {{ project.date }}
                    </div>
                    <div class="fluid"></div>
                    <div class="icon">
                        <i v-for="icon in project.icons" :key="icon" :class="icon"></i>
                    </div>
                </div>

            </div>

            <!-- 読み込んだ HTML を表示 -->
            <div v-else class="page-content" v-html="loadedContent"></div>

            <!-- 戻るボタン -->
            <div class="top-button" v-if="currentPage !== 'home'" @click="changePage('home')">
                TOP
            </div>
        </main>

        <footer>
            <div><i class="fa-regular fa-copyright"></i> 2025 yuichiro hato | All Rights Reserved</div>
            <div class="note">This site was loosely designed with <span class="figma-color">Figma</span> and built with<span class="vue-color"> Vue.js</span>.</div>
        </footer>
    </div>
    <script src="vue-script.js"></script>
</body>
</html>